%body
  .container
    %h1= I18n.t('new_quiz')
    = render 'form'
    .btn-group.back-button
      -# = button_tag link_to I18n.t('actions.show'), @quiz, class: "btn btn-primary"
      = button_tag link_to I18n.t('actions.back'), quizzes_path, class: "btn btn-primary btn-lg", style: "margin-bottom: 40px;"
