%body#bg-home-page
  .container
    .home-container
      %h1.home-title
        Buone Feste!
      %h4.home-title{style: "font-size: 20px;"}
        Ciao Ina, sono Babbo Natale
      %p#home-text-body
        Sei fidanzata con Matteo Revelli giusto? Lo ami abbastanza?
        %br
        Beh io non ne sono sicuro. Perciò ti ho preparato alcune domande per verificare quanto lo ami.
      .btn-group
        = button_tag link_to 'Vai al quiz', new_quiz_path, class: "btn btn-success btn-lg"
      -# .action.btn-group.home-center-button
      -#   %button.btn.btn-success.btn-lg= link_to 'vai al quiz', new_quiz_path
