// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gold: #d2c65e
$gold-darken: #c7bc58
button
  border: 0
  padding: 0
body
  background: url("blue-snow-falling.png")
  background-repeat: no-repeat
.home-container
  background: white!important
.home-title
  text-align: center
.home-center-button
  width: 100%
  text-align: center
  top: 300px
.action
  padding: 10px 0
.btn-group
  padding: 10px 0
.btn
  color: #fff!important
.btn-success
  background-color: $gold
  border-color: $gold-darken
@media screen and (max-width: 480px)
  body
    background-size: 490px
    background-position-y: 280px
  .action
    padding: 10px 0
    text-align: center
    width: 100%
  .btn-success
    width: 100%
