// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gold: #e8c951
$gold-darken: #d6b94a
button
  border: 0
  padding: 0
body
  background: url("blue-snow-falling.png")
  background-repeat: no-repeat
.home-container
  background: white!important
.home-title
  text-align: center
.home-center-button
  width: 100%
  text-align: center
  top: 300px
.action
  padding: 10px 0
  text-align: center
.btn-group
  padding: 10px 0
  width: 100%
  text-align: center
.btn
  color: #fff!important
.btn-success
  background-color: $gold
  border-color: $gold-darken
.btn-success:active
  background-color: $gold
  border-color: $gold-darken
.btn-success:hover
  background-color: $gold
  border-color: $gold-darken
.btn-success:focus
  background-color: $gold
  border-color: $gold-darken
.btn-group
  button
    background: none
.blockquote-reverse
  margin: 30% 0 60% 0
  font-style: italic
.show-title
  text-align: center
  margin-top: 10%
.field
  margin: 10% 0
div.field:last-child
  margin-bottom: 100px
.question-label
  margin-bottom: 10px
  font-size: 16px
  font-weight: normal
// cellulari
@media screen and (max-width: 480px)
  body
    background-size: 490px
    background-position-y: 280px
  .action
    padding: 10px 0
    text-align: center
    width: 100%
  .btn-success
    width: 100%
